﻿<div class="col-sm-8 text-left">
    <form name="myForm1" >
        <div ng-repeat="q in qaObjInScr4">
            <div ng-repeat="q1 in q.questions">
                {{q1.questionid}}. {{q1.question}}
                <div ng-repeat="q2 in q1.option">

                    <input type="radio" ng-model="q2.optionid" name='{{q1.questionid}}-{{q2.optionName}}' value={{q2.optionid}}> {{q2.optionName}}<br>
                 
                </div> <br />
              
            </div>
          
        </div>
       
        <div class="row">
            <div class="col-sm-6" hbbackbtn></div>
            <div class="col-sm-offset-6"> <input type="submit" value="Next" ng-click="submitAnswers()"  class="btn btn-success"  /></div>
        </div>
      
    </form>
</div>