﻿<div class="col-sm-8 text-left">


    <div class="container">

        <h4>{{qaObj.questionid}}. {{qaObj.question}}</h4>
        <br />
        <form name="myForm">
            <div ng-repeat="ans in qaObj.option">
                <input type="radio" ng-model="$parent.hbP" name="{{ans.optionid}}-{{ans.optionName}}" value={{ans.optionid}}> {{ans.optionName}}<br>
             </div>
            
            <div class="col-sm-offset-6"> <a class="btn btn-success" ng-disabled="hbP" ng-href="#/General">Next</a></div>
        </form>
        <br />

        <div class="col-sm-6" hbbackbtn></div>
       


    </div>



</div>