﻿<div class="col-sm-8 text-middle" >
    <h3>{{welcomeMessage}}</h3>
    <p>{{bodyMessage1}}</p><br />

    <p>{{bodyMessage2}}</p><br/><br />

    <p>{{bodyMessage2}}</p>

    <div class="">
        <a class="btn btn-success"  href="#/Gender">Complete Your Survey</a>
    </div>

    
</div>