﻿<div class="col-sm-8 text-left">
   
   
        <div class="container"  >

            <h4>{{qaObj.questionid}}. {{qaObj.question}}</h4>
            <br />
            <form  >
                <div ng-repeat="ans in qaObj.option">
                    <input type="radio" ng-model="$parent.ans.optionid" name="gender" value={{ans.optionid}}> {{ans.optionName}}<br>
                   
                </div>
                
                
            </form>
            <br />
           
            <div class="col-sm-offset-6"> <a class="btn btn-success" ng-disabled="gender.$invalid" ng-click="checkOption(ans.optionid)">Next</a></div>
           

        </div>

   

</div>