﻿<div class="col-sm-8 text-left">
    <div class="container" ng-repeat="q in qaObjAge[0]">
        <div ng-repeat="q1 in q">
            {{q1.questionid}}. {{q1.question}}
            <br />
            <br />
            <div ng-repeat="q2 in q1.option">
                <input type="radio" ng-model="$parent.q2.optionid" name="age" value={{q2.optionid}}> {{q2.optionName}}<br>
            </div>
        </div>
        <br />
    </div>

    <div class="container" ng-repeat="q3 in qaObjOthersInScr3">

        <div ng-repeat="q4 in q3.questions">

            {{q4.questionid}}. {{q4.question}}
            <br />
            <br />
            <div ng-repeat="q5 in q4.option">
                <input type="text" ng-model="$parent.q5.optionid" name={{q5.optionName}} /> <br>
            </div>

        </div>
        <br />
    </div>
    <div class="row">
        <div class="col-sm-6" hbbackbtn></div>
        <div class="col-sm-offset-6"> <a class="btn btn-success" ng-disabled="myForm.$invalid" href="#/Diet">Next</a></div>
    </div>
</div>
